@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}
main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 310px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}
iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 265px;
    height: 471px;
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.534);
}
section#redes-sociais {
    text-align: right;
}
section#redes-sociais img:hover {
    border: 1px solid white;
    transform: translate(-2px, -3px);
    width: 60px;
    transition: transform .5s, border 0.5s, width 0.5s;
}